{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<body>
{%  include 'partial/_nav.html.twig' %}



   <div class="container">
       {% for actu in allNews %}
           <div class="card mb-3" style="max-width: 540px;">
               <div class="row g-0">
                   <div class="col-md-4">
                       <img src={{ actu.image }} class="img-fluid rounded-start" alt="...">
                   </div>
                   <div class="col-md-8">
                       <div class="card-body">
                           <h5 class="card-title">{{ actu.title }}</h5>
                           <p class="card-text"> {{ actu.recap }}</p>
                           <p class="card-text"><small class="text-muted">Publié le ... </small></p>
                           {% if app.user and is_granted('ROLE_ADMIN')  %}
                           <a href="{{path('app_news_modifynews', {'id': actu.id})}}" class="btn btn-warning m-md-2"><i class="bi bi-pen"></i></a>
                           <a href="{{path('app_news_deletenews', {'id': actu.id})}}" class="btn btn-danger m-md-2"><i class="bi bi-trash3"></i></a>
                           {% endif %}
                           <a href="#" class="btn btn-info m-md-2">Voir l'article complet</a>
                       </div>
                   </div>
               </div>
           </div>

       {% endfor %}
   </div>
</body>
{% endblock %}
