{% block nav %}
<nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="{{ path('app_home_home', {'_fragment': 'introduction'}) }}">
            <img src="{{ asset('images/logo target.png') }}" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
             CENTRE DE TIR IMAGINAIRE
        </a>
        <button data-bs-toggle="collapse" data-bs-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <img src="{{ asset('/images/svg/arrow-bar-down.svg') }}" alt="" >
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto text-uppercase">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/home" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Accueil
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ path('app_home_home', {'_fragment': 'introduction'}) }}">Le centre de tir imaginaire</a></li>
                        <li><a class="dropdown-item" href="{{ path('app_home_home', {'_fragment': 'house'}) }}">Notre club house</a></li>
                        <li><a class="dropdown-item" href="{{ path('app_home_home', {'_fragment': 'portfolio'}) }}">Nos pas de tir</a></li>
                        <li><a class="dropdown-item" href="{{ path('app_home_home', {'_fragment': 'contact'}) }}">Formulaire de contact</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="{{ path('app_blog_blog') }}">La vie du club</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ path('app_register_register') }}">Inscription</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ path('app_home_home2') }}">Temp</a></li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}